*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  width: 100%;
  height: 100vh;
}
.home{
  width: 100%;
  height: 100vh;
  background-color: rgb(17, 21, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
input{
  max-width: 500px;
  width: 60%;
  height: 50px;
  outline: none;
  bottom: none;
  padding: 20px;
  border-radius: 20px;
  font-size: 19px;
}

button{
  height: 50px;
  outline: none;
  bottom: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  font-size: 19px;
  background-color: rgb(10, 128, 232);
  color: white;
}